<!--<div class="form-container">
    <img id="lock" src="/assets/images/lock.svg" alt="">
    
    <span class="error" *ngIf="error">{{ error }}</span>
    
    <button id="facebook" (click)="loginFacebook()">Login with Facebook</button><br>
    <button id="google" (click)="loginGoogle()">Login with Google</button><br>
    <button id="email" routerLink="/login-email">Email</button>
    
    <a class="alc" routerLink="/signup" routerLinkActive="active">No account? <strong>Create one here</strong></a>
</div>-->

<div class="flex-container" fxLayout="column" fxLayoutAlign="space-around center">
    <div class="flex-item">
        <md-icon class="lock-icon material-icons md-60p" svgIcon="login-page-lock"></md-icon>
    </div>
    <div class="flex-item">
        <span class="error" *ngIf="error">{{ error }}</span>
    </div>
    <div class="flex-item">
        <button md-button class="login" (click)="loginGoogle()">
            <md-icon class="material-icons md-48" svgIcon="sign-in-with-google"></md-icon>
            Sign in with Google
        </button>
    </div>
</div>

